body {
	font-size: 130%;
}

.container {
	margin: 3em auto;
	width: 600px;
}

.hidden {
	display: none;
}

.left {
	float: left;
}

.stack-image {
	margin-right: 1em;
	width: 200px;
	height: 200px;
	border-radius: 5px;
	background: url('../images/stack-icon.png') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.intro {
	margin-bottom: 1em;
}

.stack {
	clear: both;
}

.inspiration {
	margin-left: 3em;
}

.result {
	margin: 0 auto 1em auto;
	padding: 5px;
	border: 1px solid black;
}

.error {
	padding: 1em;
	background-color: #F78181;
}3
